<% include partials/header%>
<a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab 8</a>

    <br />
    <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
    <br />
    <a href="helloworld.html">Relative Link Example</a>
    <br />
    <a href="/templatelink">Template Link Example</a>
    <br />


    <h1>Users</h1>
    <a href="/accounts/UserJobView">User Job View</a>
    <br />
    <a href="users/create">User Account Creation</a>
    <br />
    <a href="/accounts/all">All Users</a>
    <br />
    <a href="/accounts/?user_id=1">User By ID</a>
    <br />

    <h1>Addresses</h1>
    <a href="address/create">Address Creation</a>
    <br />


    <h1>Schools</h1>
    <a href="schools/create">School Creation</a>
    <br />
    <a href="/schools/all">View All Schools</a>
    <br />

    <h1>Companies</h1>
    <a href="company/create">Company Creation</a>
    <br />
    <a href="company/">View All Companies</a>
    <br />

    <h1>Skills</h1>
    <a href="skills/all">View All Skills</a>
    <br />
    <a href="skills/?skill_id=1">Skill By ID</a>
 <%include partials/footer%>